*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
.contenido__cuerpo{
	padding-top: 65px;
    padding-left: 5%;
    padding-right: 5%;
}
body{
	font-family: Arial;
}

header{
	position: fixed;
	width: 100%;
}
.nav-bar{
	background: #0f75bc;
	padding-top: 20px;
	padding-left: 89%;
	padding-bottom: 20px;
	display: block;
	color: #FFF;
	cursor: pointer;
	font-size: 1.5em;
	width: 100%;
}
.logoEsqMov{
    display: block;
    position: fixed;
    top:2.5px;
    left: 5%;
    z-index: 100;
    color:#fff;
}